<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{htmlWebpackPlugin.options.title}}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="//vk.com/js/api/openapi.js?122"></script>
    </head>
    <body>
    </body>
</html>
